.container {
    background: orange;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background: purple;
    height: 60px;
}

.wrapper{
    background: green;
    display: flex;
    /*flex-direction: row-reverse;*/
}

.menu{
    background: silver;
    width: 30%;
}

.content{
    background: aqua;
    width: 70%;
}

.footer{
    background: pink;
}